.pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    border: 1px solid #E2E8F0;
    background: #FFFFFF;
}

.pagination-button-number {
    margin: 0 5px;
    cursor: pointer;
    border: none;
    background: #FFFFFF;
}

.pagination-button-number:disabled {
    background: var(--Primary, #8576FF);
    cursor: not-allowed;
    opacity: 0.5;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.pagination-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background: #E2E8F0;
}

.rows-per-page {
    margin-left: auto;
}

.rows-per-page label {
    margin-right: 10px;
}

.rows-per-page select {
    padding: 5px;
    cursor: pointer;
}

.row-info {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #334155;
}

.row-select {
    width: 96px;
    height: 36px;
    border-radius: 2px 0 0 0;
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
}

/* Dark mode styles */
.pagination.dark-mode .pagination-button:disabled {
    background: #6A6676;
    border: 1px solid #6A6676;
}

.pagination.dark-mode .pagination-button {
    background: var(--Primary-Select, #ADA9BB);
    border: 1px solid #ADA9BB;
}

.pagination.dark-mode .pagination-button-number {
    background: inherit;
    color: #FFFFFF;
}

.pagination.dark-mode .pagination-button-number:disabled {
    background: var(--Primary, #8576FF);
    color: #FFFFFF;
}

.pagination.dark-mode .row-info {
    color: #FFFFFF;
}

.pagination.dark-mode .row-select {
    background: #6A6676;
    border: 1px solid #6A6676;
    color: #FFFFFF;
}