.home-container {
    margin-top: 10px;
}

.home-title {
    font-family: "Inter";
    font-size: 22px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #000000;
}

.home-statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.event-container {
    margin-top: 40px;
}

.event-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event-registration-title {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    color: #000000;    
}

.event-registration-section {
    width: 594px;
    height:320px;
    border: 1px solid var(--Grays-Gray-6, #F2F2F7)
}

.event-slider-container {
    width: 510px;
    height: 320px;
    border: 1px solid var(--Grays-Gray-6, #F2F2F7)
}

.event-chart {
    padding: 40px;
}

.event-history {
    margin-top: 40px;
}

.event-history-header {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #000000;
}

.footer-tabs {
   display: none;
}

@media (max-width: 768px) {
    .home-container {
        margin-top: 80px;
    }

    .home-statistics {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        margin-top: 40px;
    }

    .event-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .event-slider-container,.event-registration-section {
        width: 100%;
        height: auto;
    }

    .event-chart {
        padding: 10px;
    }

    .footer-tabs {
        display: block;
        margin-top: 40px;
    }
}