.search-input {
    border: none;
    outline: none;
    flex: 1;
}
  
.search-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
}

/* Dark mode styles */
.search-input.dark-mode {
    background: #6A6676;
    color: #FFFFFF;
}

.search-input.dark-mode::placeholder {
    color: #FFFFFF;
}
  