.filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1,076px;
    height: 36px;
    margin-bottom: 20px;
}

.filter-section, .filter-section-sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.search-container {
    width: 200px;
    height: 36px;
}

.search {
    width: 100%;
    height: 100%;
    border-radius: 2px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    border: 1px solid #E2E8F0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #334155;
}

.date-container {
    width: 88px;
    height: 36px;
}

.date {
    width: 100%;
    height: 100%;
    border-radius: 2px 0px 0px 0px;
    border: 1px solid #E2E8F0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #334155;
}

.status-container {
    width: 99px;
    height: 36px;
}

.status {
    width: 100%;
    height: 100%;
    border-radius: 2px 0px 0px 0px;
    border: 1px solid #E2E8F0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #334155;
}

.name-container {
    width: 95px;
    height: 36px;
}

.name {
    width: 100%;
    height: 100%;
    border-radius: 2px 0px 0px 0px;
    border: 1px solid #E2E8F0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #334155;
}

.display-label {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    color: #334155;
}

.display-sort {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #334155;
}

.sort-recent-container {
    width: 140px;
    height: 36px;
}

.sort-recent {
    width: 100%;
    height: 100%;
    border-radius: 2px 0px 0px 0px;
    border: 1px solid #E2E8F0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #334155;
}

.sort-ellipsis-container {
    width: 36px;
    height: 36px;
}

.sort-ellipsis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 2px 0px 0px 0px;
    border: 1px solid #E2E8F0;
    background: #FFFFFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #334155;
}

.download-container {
    width: 100px;
    height: 36px;
}

.download {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border-radius: 2px 0px 0px 0px;
    border: 1px solid #E2E8F0;
    background: #FFFFFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #334155;
}

@media (max-width: 768px) {
    .filter-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .filter-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
    }

    .filter-section-sort {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        width: 100%;
        margin-top: 20px;
    }

    .date-container, .status-container, .name-container, .search-container {
        width: 100%;
    }
}