.app {
    display: flex;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.content {
    width: 100%;
    margin-left: 280px;
    padding: 16px;
    padding-right: 40px;
    height: 100vh;
    overflow-y: auto;
}

.content.collapsed {
    margin-left: 100px;
}

.footer-tabs {
    display: none;
}

.app.dark-mode {
    background: var(--Primary-Dark, #484554);
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .app {
        flex-direction: column;
    }

    .content {
        width: auto;
        margin-left: 0px;
        padding: 16px;
        padding-right: 0px;
        height: auto;
    }

    .footer-tabs {
        display: block;
        margin-top: 40px;
    }
}
  