.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.modal-content {
    background: #FFFFFF;
    position: relative;
    width: auto;
}
  
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #E2E8F0;
    border-radius: 100px;
}

@media (max-width: 768px) {
    .modal-content {
        width: 90%;
    }
}

/* Dark mode styles */
.modal-overlay.dark-mode .modal-content {
    background: var(--Primary-Dark, #484554);
    color: #FFFFFF;
}

.modal-overlay.dark-mode .close-button {
    background: var(--Primary-Select, #ADA9BB);
    border: 1px solid #ADA9BB;
}