.side-menu {
    width: 240px;
    height: 100vh;
    background-color: #FFFFFF;
    padding: 8px;
    gap: 8px;
    position: fixed;
    border-right: 1px solid #F1F5F9;
}

.side-menu h2 {
    width: 64px;
    height: 32px;
    font-family: "Inter";
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    color: #2563EB;
    background: #93C5FD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
    width: 224px;
}

.menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
    font-family: "Inter";
    font-weight: 400;
    text-align: left;
    margin: 15px 0;
    background: var(--New-Select, #FFF);
    border-radius: 2px 0px 0px 0px;
    padding: 0px 10px;
    text-decoration: none;
    gap: 15px;
    position: relative;
}

.menu-item > svg {
    width: 20px;
    height: 20px;
}

.menu-link {
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    width: 100%;
}

.active-link {
    color: var(--Primary, #8576FF);
    background: var(--New-Select, #FCF7FF);
}

.inactive-link {
    color: #334155;
}

.extra-link {
    font-size: 12px;
    line-height: 16px;
}

.user-section {
    display: flex;
    flex-direction: column;
}

.count {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: #F43F5E;
}

.count span {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #FFFFFF;
}

.side-menu.collapsed {
    width: 64px;
}

.side-menu.collapsed h2 {
    display: none;
}

.side-menu.collapsed ul {
    list-style-type: none;
    padding: 0;
    width: auto;
}

.side-menu.collapsed .menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 36px;
    font-family: "Inter";
    font-weight: 400;
    text-align: left;
    margin: 15px 0;
    background: var(--New-Select, #FFFFFF);
    border-radius: 2px 0px 0px 0px;
    padding: 0px 10px;
    text-decoration: none;
    gap: 15px;
    position: relative;
}

@media (max-width: 768px) {
    .side-menu {
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 1px solid #F1F5F9;
    }

    .side-menu ul {
        width: 90%;
    }

    .side-menu-close {
        display: none;
    }

    .side-menu-open {
        display: block;
    }
}

/* Dark mode styles */
.side-menu.dark-mode {
    background-color: #6A6676;
    border: 1px solid var(--Primary-Dark, #6A6676);
    color: #FFFFFF;
}

.side-menu.dark-mode .inactive-link {
    background-color: #6A6676;
    color: #FFFFFF;
}

.side-menu.dark-mode .active-link {
    background: var(--Primary, #8576FF);
    color: #FFFFFF;
}

.side-menu.dark-mode .extra-link {
    background-color: #6A6676;
    color: #FFFFFF;
}

.side-menu.dark-mode .user-section {
    background-color: #6A6676;
    color: #FFFFFF;
}
