table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #F1F5F9;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: #64748B;
}

th, td {
    border: none;
    padding: 8px;
    text-align: left;
    height: 48px;
    font-family: Inter;
}

td {
    color: #334155;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.with-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.table-cell-icon {
    display: block;
}

.table-row-grey {
    background: var(--Grays-Gray-6, #F2F2F7);
}

@media (min-width: 768px) {
    .expanded-row {
        display: none;
    }

    .table-cell-icon {
        display: none;
    }
}

/* Dark mode styles */
.dark-mode table {
    background: #6A6676;
}

.dark-mode th {
    background: var(--Primary-Select, #ADA9BB);
    color: #FFFFFF;
}

.dark-mode td {
    color: #FFFFFF;
}
