table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #F1F5F9;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: #64748B;
}

th, td {
    border: none;
    padding: 8px;
    text-align: left;
    height: 48px;
    font-family: Inter;
}

td {
    color: #334155;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 2px;
    border: 1px solid #E2E8F0;
    background: #FFFFFF;
}

.pagination-button-number {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background: #FFFFFF;
}

.pagination-button-number:disabled {
    background: var(--Primary, #8576FF);
    cursor: not-allowed;
    opacity: 0.5;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.pagination-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background: #E2E8F0;
}

.rows-per-page {
    margin-left: auto;
}

.rows-per-page label {
    margin-right: 10px;
}

.rows-per-page select {
    padding: 5px;
    cursor: pointer;
}

.row-info {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #334155;
}

.row-select {
    width: 96px;
    height: 36px;
    border-radius: 2px 0 0 0;
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
}

.with-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.table-cell-icon {
    display: block;
}

@media (min-width: 768px) {
    .expanded-row {
        display: none;
    }

    .table-cell-icon {
        display: none;
    }
}
