.app {
  display: flex;
  height: 100vh;
  position: relative;
}

.content {
  margin-left: 280px;
  padding: 16px;
  height: 100vh;
  overflow-y: auto;
}

.content.collapsed {
  margin-left: 100px;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .content {
    margin-left: 0;
  }

}
